/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #343d4a;
  --vt-c-gray: #8c8c8c;
  --vt-c-white-slight-transparent: rgba(255, 255, 255, 0.9);
  --vt-c-white-soft: rgb(251, 251, 251);
  --pcl-blue: rgba(15, 111, 205, 1);
  --tint-blue: #1370f3;
  --light-blue: #4890f5;
  --lighter-blue: rgba(19, 112, 243, 0.1);
  --shadow-blue: rgba(19, 112, 243, 0.6);
  --slight-transparent-blue: rgba(19, 112, 243, 0.8);
  --half-transparent-blue: rgba(15, 111, 205, 0.25);

  --warn-red: rgb(206, 33, 17);
  --lighter-red: rgb(206, 33, 17, 0.1);

  --box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
  /* --animate-time: 0.4s; */
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white-soft);
  --color-background-soft: var(--vt-c-white-slight-transparent);
  --color-text-black: var(--vt-c-black);
  --color-text-grey: var(--vt-c-gray);

  --color-titlebar: var(--pcl-blue);
  --color-tint: var(--tint-blue);
  --color-tint-light: var(--light-blue);
  --color-tint-lighter: var(--lighter-blue);
  --color-tint-lightist: var(--half-transparent-blue);
  --color-tint-shadow: var(--shadow-blue);
  --color-warn: var(--warn-red);
  --color-warn-lighter: var(--lighter-red);
}

/* 深色模式设置 */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'PCL-English';
  src: url('@/assets/fonts/PCL English.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh;
  color: var(--color-text-black);
  background: var(--color-background);
  transition:
    color 0.4s,
    background-color 0.4s;
  line-height: 1.6;
  font-family:
    'PCL-English',
    'HarmonyOS Sans SC',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
